
h1 {
    text-align: center;
}

#selected-station {
    /*font-size: 2rem;*/
}

/* Map stuff */
#mapid { 
    height: 400px; 
}

.quick-stats {
    font-size: 2rem;
}

.x-axis .hoverText {
    font-size: 2rem;
}

svg path.valueLine {
    stroke: #d9d9d9;
    stroke-opacity: 0.5;
}

svg path.currentwy {
    stroke: #525252;
    stroke-opacity: 1;
}

svg path.highlight {
    stroke-width: 2.5;
    stroke: red;
    stroke-opacity: 1;
}